@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

body {
  font-family: 'Nunito Sans', sans-serif;
}

@theme {
  --font-family-base: 'Nunito Sans', sans-serif;
}
